
 <h1>Here's the information about the Artist</h1>

<h2>All the Artists and bands</h2>
<p> <%= @artist_output %></p>

<h2>How many Artists and bands?</h2>
<p> <%= @band_count %></p>

<h2>The Artists and their songs.</h2>
<p> <%= @big_list %></p>

 <h2>How many songs by each artist?</h2>
<p> <%= @artist_count %></p>

<h2>If you really want to destroy your music collection, click here.</h2>
<a href = <%= @salt_the_earth %>>Click here</a>





 