<h1>Here's the information about your genre</h1>

<h2>The big list</h2>
<p> <%= @genre_output %></p>

<h2>The more specific list</h2>
<ul>
<li> <%= @genre_dance %></li>
<li> <%= @genre_electro %></li>
<li> <%= @genre_indie %></li>
<li> <%= @genre_folk %></li>
<li> <%= @genre_country %></li>
<li> <%= @genre_pop %></li>
<li> <%= @genre_hiphop %></li>
<li> <%= @genre_house %></li>
<li> <%= @genre_rap %></li>
</ul>